@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.input {
		@apply bg-gray-700 border-2 border-gray-700 px-3 py-2 w-full rounded transition;
		@apply hover:border-gray-600;
		@apply focus:outline-none focus:border-emerald-500 focus:bg-gray-900 focus:ring-0 focus:text-gray-100;
	}
	.scroller-container {
		@apply flex flex-1 overflow-x-hidden overflow-y-auto relative;
	}
	.scroller {
		@apply p-4 w-full h-full;
		min-height: min-content;
		overflow: hidden auto;
	}
	.menu-btn {
		@apply rounded-sm mb-1 py-2 px-2.5 w-full text-left cursor-pointer hover:bg-gray-800 hover:text-gray-100 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:bg-gray-800 last:mb-0;
	}
	.menu-btn-active {
		@apply bg-emerald-500 text-white hover:bg-emerald-600;
	}
	.link {
		@apply underline hover:text-emerald-500;
	}
	.slider {
		@apply appearance-none w-full h-2.5 bg-gray-700 rounded transition block mt-2 mb-4 cursor-pointer;
		@apply focus:outline-none;
	}
	.slider::-webkit-slider-thumb,
	.slider::-moz-range-thumb {
		@apply appearance-none w-5 h-5 rounded-full bg-emerald-500 border-0;
	}
}

.tippy-box[data-placement^="top"] .tippy-arrow {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #fff;
	bottom: -6px;  
}
.tippy-box[data-placement^="bottom"] .tippy-arrow {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	top: -6px;
}
.tippy-box[data-placement^="left"] .tippy-arrow {
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #fff;
	right: -5px;
}
.tippy-box[data-placement^="right"] .tippy-arrow {
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #fff;
	left: -5px;
}
.tippy-content {
	@apply bg-white rounded text-gray-800 text-sm py-2 px-2.5 shadow-xl;
}
.tippy-arrow {
	width: 0;
	height: 0;
}